.git
.gitignore
.dockerignore
.idea/
.vscode/
.editorconfig

.env
.env.*

/public/bundles/
/vendor/
/coverage/
/var/

/node_modules/
/tools/*/vendor/

/tests/
phpunit.xml
phpunit.dist.xml
.phpunit.cache
.phpunit.result.cache
postman_collection.json
*.md

*.bak
*.tmp

docker-compose*.yml
etc/*
!etc/caddy/
!etc/app/php.*.ini
!etc/app/docker-entrypoint.sh
!etc/bash/
