.git
.gitignore
.dockerignore
.idea/
.vscode/
.env.local
.env.*.local

/public/bundles/
/vendor/
/coverage/

/var/

/node_modules/
/tools/*/vendor/

.phpunit.cache
.phpunit.result.cache

*.bak
*.tmp

docker-compose*.yml
etc/*
!etc/caddy/
!etc/app/php.*.ini
