.git
.gitignore
.dockerignore
.idea/
.vscode/

/public/bundles/

/var/cache/
/var/log/

/node_modules/
/tools/*/vendor/

.phpunit.cache
.phpunit.result.cache

*.bak
*.tmp

docker-compose.yaml
docker-compose.override.yaml
docker/*
!docker/app/entrypoint.sh