# In all environments, the following files are loaded if they exist,
# the latter taking precedence over the former:
#
#  * .env                contains default values for the environment variables needed by the app
#  * .env.local          uncommitted file with local overrides
#  * .env.$APP_ENV       committed environment-specific defaults
#  * .env.$APP_ENV.local uncommitted environment-specific overrides
#
# Real environment variables win over .env files.
#
# DO NOT DEFINE PRODUCTION SECRETS IN THIS FILE NOR IN ANY OTHER COMMITTED FILES.
# https://symfony.com/doc/current/configuration/secrets.html
#
# Run "composer dump-env prod" to compile .env files for production use (requires symfony/flex >=1.2).
# https://symfony.com/doc/current/best_practices.html#use-environment-variables-for-infrastructure-configuration

###> Docker ###
EXTERNAL_NET=app
SERVER_NAME=:80
TRUSTED_PROXIES=127.0.0.1
###< Docker ###

###> User ###
USER=your_name
USER_ID=1000
GROUP_ID=1000
USER_NAME="Your Git Name"
USER_EMAIL=name@domain.com
###< User ###

RUN_MIGRATIONS=false

###> FrankenPHP ###
HTTP_WEB_URL=taskmanagerapi-local.localhost
HTTP_WEB_PORT=8080

XDEBUG_MODE=off
###< FrankenPHP ###

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=25c98467c63b6a2155ce9a90f024641c
###< symfony/framework-bundle ###

DEFAULT_URI="http://${HTTP_WEB_URL}:${HTTP_WEB_PORT}"

###> doctrine/doctrine-bundle ###
DB_NAME=farmapremium
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=app-postgres
DB_PORT=5432
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?serverVersion=18&charset=utf8"
###< doctrine/doctrine-bundle ###
