/.env
/.env.local
/.env.local.php
/.env.*.local

/etc/bash/ssh/*
!/etc/bas/ssh/.gitkeep

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/coverage/

.idea/
.vscode/

/phpunit.xml
/.phpunit.result.cache
/.phpunit.cache

*.log
*.bak
*.tmp
*.swp
